<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gt.af.s.mapper.UserInfoMapper">

    <resultMap id = "userMap" type = "com.gt.af.s.model.UserInfo">
        <id column="id" property="id"></id>
        <result column="username" property="username"></result>
        <result column="password" property="password"></result>
        <collection property="roles" ofType="com.gt.af.s.model.Role">
            <id column="rid" property="id"></id>
            <result column="rname"  property="name"></result>
        </collection>
    </resultMap>

    <select id="selectUserInfo" resultType="com.gt.af.s.model.UserInfo">
       select u.id,u.username,u.password,ur.rid,r.name as rname
       from user_info u
			 left join user_role ur on u.id = ur.uid
			 left join role r on ur.rid = r.id
       where u.username = #{username}
    </select>



</mapper>